<div class="container-fluid second-container">
    <h2>Directives</h2>
    <p>We starting use the directives, these are:</p>
    <h3>Directives used:</h3>
    <ul>
        <li>(*)ngFor='let value of listOfValues'</li>
        <li>(*)if='condition'</li>
        <li>([)ngStyle]="Json with atributes written in JS form"</li>
        <li>(*)ng-switch='variable'
            <ul>
                <li>Element - (*)ngSwitchCase"'Value of variable'"</li>
                <li>Element 2 - (*)ngSwitchCase"'Value of variable'"</li>
                <li>Element 3 - (*)ngSwitchCase"'Value of variable'"</li>
            </ul>
        </li>
    </ul>
    <h3>Events:</h3>
    <ul>
        <li>('click')='functionName()</li>
        <li>('blur')='FunctionName()</li>
        <li>('keyup.enter')='FunctionName()</li>
    </ul>
    <input type="text" class="btn btn-danger mt-4 mb-3" (keyup.k)='nk()'> Nothing personal kid
    <hr>
    <h3 class="mt-3">Styles and other uses:</h3>
    <ul>
        <li>([)ngStyle]="Json with atributes written in JS form"</li>
        <li>([)class.high_price]='condition'</li>
    </ul>


</div>
<div class="container-fluid third">
    <h2>Two way data binding</h2>
    <p>Add branch</p>
    <div class="form-inline">
        <input type="text" class="form-control mb-2 not-block mr-2" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="my_branch">
        <button type="submit" class="btn btn-primary not-block mb-2 mr-1 " (click)='get_branch()'>Submit</button>
        <button type="submit" class="btn btn-primary not-block mb-2 mr-1" (click)='add_branch()'>Add branch</button>
    </div>
    <p class="reduced">Text of data binding: {{my_branch}}</p>
    <p>Add drink</p>
    <div class="form form-inputs">
        <input type="text" class="form-control mb-2 not-block mr-2 mb-2" placeholder="Name:" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="drink_name">
        <input type="text" class="form-control mb-2 not-block mr-2 mb-2" placeholder="Price:" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="drink_price">
        <input type="text" class="form-control mb-2 not-block mr-2 mb-2" placeholder="Branch:" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="drink_branch">
        <input type="text" class="form-control mb-2 not-block mr-2 mb-2" placeholder="Stock:" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="drink_stock">
        <div class="form-inline submits">
            <button type="submit" class="btn btn-primary not-block mb-2 mr-1 " (click)='get_branch()'>Submit</button>
            <button type="submit" class="btn btn-primary not-block mb-2 mr-1" (click)='add_drink()'>Add Drink</button>
        </div>
    </div>
</div>

<div [ngStyle]="{}" class="container-fluid">
    <h2>Dinks</h2>
    <p>Component created for use loops (*)ngFor='let drink of drinks' and clases, the class was export</p>
    <ul>
        <li *ngFor='let drink of drinks'>
            <strong [ngStyle]="{
                'text-decoration' : '!deportiva.stock' ? 'line-throught' : 'none'
            }">{{drink.name}}</strong>
            <ul>
                <li [class.high_price]='drink.price > 104'>
                    Price: $ <strong>{{drink.price}}</strong>
                    <span *ngIf='drink.price <= 102' [ngStyle]="{
                        color: 'green'
                    }"> - [It's a offer!]</span>
                </li>
                <li>Branch: {{drink.branch}} </li>
                <li>Stock units: {{drink.stock}}
                    <span *ngIf="drink.stock <= 4 && drink.stock >= 2" [ngStyle]="{
                    color: 'rgba(210, 186, 30, 1)'
                }">
                    Be careful, for running out of stock
                </span>
                    <span *ngIf="drink.stock < 2" class="red" [ngStyle]="{
                    color: 'red',
                    'text-decoration' : '!deportiva.stock' ? 'line-through' : 'none'
                }"> - [Almost out of stock]</span> </li>


            </ul>
        </li>
        <br>
        <h3 class="mt-4 mb-3">Drink names</h3>
        <ul>
            <li *ngFor="let name of names ">
                <div class="form-inline">
                    <p>{{name}}</p>
                    <button type="submit" class="btn btn-warning p-1 ml-3 " (click)='delete_name(name)'>Delete</button>
                </div>
            </li>
        </ul>
    </ul>
    <p>The principal branch is: </p>
    <ul [ngSwitch]='branch'>
        <li *ngSwitchCase="'Coca Cola'" [ngStyle]="{color: 'skyblue'}">
            Coca cola
        </li>
        <li *ngSwitchCase="'Limol'" [ngStyle]="{color: 'skyblue'}">
            Limol
        </li>
    </ul>
</div>