<div class="container second-container">
    <h2>Directives</h2>
    <p>We starting use the directives, these are:</p>
    <h3>Directives used:</h3>
    <ul>
        <li>(*)ngFor='let value of listOfValues'</li>
        <li>(*)if='condition'</li>
        <li>([)ngStyle]="Json with atributes written in JS form"</li>
        <li>(*)ng-switch='variable'
            <ul>
                <li>Element - (*)ngSwitchCase"'Value of variable'"</li>
                <li>Element 2 - (*)ngSwitchCase"'Value of variable'"</li>
                <li>Element 3 - (*)ngSwitchCase"'Value of variable'"</li>
            </ul>
        </li>
    </ul>
</div>
<div [ngStyle]="{}" class="container">
    <h2>Dinks</h2>
    <p>Component created for use loops (*)ngFor='let drink of drinks' and clases, the class was export</p>
    <ul>
        <li *ngFor='let drink of drinks'>
            <strong [ngStyle]="{
                'text-decoration' : '!deportiva.stock' ? 'line-throught' : 'none'
            }">{{drink.name}}</strong>
            <ul>
                <li>
                    Price: $ <strong>{{drink.price}}</strong>
                    <span *ngIf='drink.price <= 102' [ngStyle]="{
                        color: 'green'
                    }"> - [It's a offer!]</span>
                </li>
                <li>Branch: {{drink.branch}} </li>
                <li>Stock units: {{drink.stock}}
                    <span *ngIf="drink.stock <= 4 && drink.stock >= 2" [ngStyle]="{
                    color: 'rgba(210, 186, 30, 1)'
                }">
                    Be careful, for running out of stock
                </span>
                    <span *ngIf="drink.stock < 2" class="red" [ngStyle]="{
                    color: 'red',
                    'text-decoration' : '!deportiva.stock' ? 'line-through' : 'none'
                }"> - [Almost out of stock]</span> </li>


            </ul>
        </li>
        <br>
        <h3>Drink names</h3>
        <ul>
            <li *ngFor="let name of names ">
                {{name}}
            </li>
        </ul>
    </ul>
    <p>The principal branch is: </p>
    <ul [ngSwitch]='branch'>
        <li *ngSwitchCase="'Coca Cola'" [ngStyle]="{color: 'skyblue'}">
            Coca cola
        </li>
        <li *ngSwitchCase="'Limol'" [ngStyle]="{color: 'skyblue'}">
            Limol
        </li>
    </ul>
</div>