<app-menu></app-menu>
<div class="jumbotron jumbotron-fluid">
    <div class="container mt-4">
        <div class="humbotron">
            <h1 class="display-1 text-center">Service</h1>
            <p class="lead text-center">
                In this page we will see the Services on Angular JS
            </p>
            <hr>
            <div>
                <div class="card align" style="width: 18rem;">
                    <img src="{{avatar}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{email}}</p>
                        <input type="text" class='form-control mb-4' name="" id="" [(ngModel)]="userId" (blur)='loadUser()'>
                        <div class="text-center" *ngIf='!user'>
                            Loading . . .
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <h3 class="display-4 text-center">
            Create new user with http-ayax-reqres
        </h3>
        <div class="conteiner-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form #formContact='ngForm' (ngSubmit)="onSubmit(newUser)">
                        <div class="form-group mt-5">
                            <label for="Name">Name</label>
                            <input type="text" #name="ngModel" name='name' [ngModelOptions]="{standalone: true}" [(ngModel)]="new_user.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required pattern='[a-zA-Z]'>
                            <small id="emailHelp" *ngIf="name.touched && !name.valid" class="form-text text-muted ">
                                The name is obligatory
                            </small>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputPassword1 ">Job</label>
                            <input type="text" #job="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="new_user.job" class="form-control" id="job" aria-describedby="emailHelp" required>
                            <small id="emailHelp" *ngIf="job.touched && !job.valid" class="form-text text-muted ">
                                The job is obligatory
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div *ngIf="saved_user">
                        <ul>
                            <li>
                                {{saved_user.name}}
                            </li>
                            <li>
                                {{saved_user.job}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

        <!-- <p class="lead">Jumbo helper text</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a> -->
        <!-- </p> -->
    </div>
</div>