<div class="container-fluid">
    <div class="row">

        <!-- Nav, menu -->

        <app-menu></app-menu>

        <!-- jumbotron -->

        <div class="col-sm-12 col-12 col-md-12 col-lg-12">
            <div class="jumbotron">
                <h1 class="display-3">Angular JS, course of Udemmy</h1>
                <p class="lead">Nothing personal kid!</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Click here</a>
                </p>
            </div>
        </div>
        <!-- .col-sm-12.col-12.col-md-12.col-lg-12 -->
    </div>
</div>